body {
  background-color: rgb(190, 8, 245);
  text-align: center;
}

#gameContainer {
  width: 70vmin;
  height: 70vmin;
  margin: 1vmin auto;
  background-color: black;
  border: solid 10px rgb(1, 121, 241);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px black;
}

.gameBoardPixel {
  width: 1.75vmin;
  height: 1.75vmin;
  border-radius: 10px;
  float: left;
}

.food {
  background-color: #f80505;
  box-shadow: 0 0 10px #fa8080;
}

.snakeBodyPixel0 {
  background-color: #049a2c;
  box-shadow: 0 0 5px #07d50b;
}

.snakeBodyPixel1 {
  background-color: hsl(45, 95%, 31%);
  box-shadow: 0 0 5px hsl(35, 94%, 43%);
}

#scoreContainer {
  width: 80vmin;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

fieldset {
  display: grid;
  grid-template-columns: auto auto;
}

legend {
  margin: auto;
}

.scoreBoard {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 10px;
  border: solid 5px rgb(1, 121, 241);
  color: white;
  background-color: black;
  display: inline-block;
  padding: 5px;
  width: 40%;
  box-shadow: 0px 0px 20px 3px black;
}

#onScreenControllers {
  display: none;
}

#message {
  position: absolute;
  top: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 10px;
  border: solid 5px rgb(1, 121, 241);
  color: white;
  background-color: black;
  display: inline-block;
  padding: 5px;
  width: 40%;
  box-shadow: 0px 0px 20px 3px black;
}

#message.hidden {
  display: none;
}

@media only screen and (max-width: 786px) {
  #onScreenControllers {
  width: 80vw;
  margin: 5vw auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

  #onScreenControllers > div {
    display: flex;
    flex-direction: column;
  }

  #onScreenControllers button {
    background-color: transparent;
    height: 20vw;
    width: 20vw;
    font-size: 10vw;
    border: none;
  }

  #onScreenControllers button:focus {
    outline: none;
  }

  #onScreenControllers button:active {
    background-color: slategray;
  }
}